.initial-layout {
    display: flex;
    flex-direction: row;
    width: 1600px;
    height: 900px;
    padding: 110px 50px 80px 120px;
    background-image: url("./assets/lightBack.png");
    background-repeat: no-repeat;
}

.initial-layout__fay {
    width: 400px;
    margin-right: 100px;
}

.initial-layout__interactive-block {
    min-width: 930px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.initial-layout__message{
    width: 100%;
    height: 400px;
}

.initial-layout__buttons-wrapper {
    display: flex;
    height: 175px;
}

.initial-layout__button-yes {
    background: url("./assets/yesButton.svg") no-repeat;
    width: 175px;
    margin-right: 45px;
}

.initial-layout__button-no {
    background: url("./assets/noButton.svg") no-repeat;
    width: 175px;
}

